bg-color = #b7d4a8
bg-block-black = #000
*
  margin 0
  padding 0
  box-sizing border-box
body
  font bold 20px 'Courier'
#main
  width 360px
  height 420px
  background-color bg-color
  margin 100px auto
  border 10px solid bg-block-black
  border-radius 40px
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  #stage
    width 304px
    height 304px
    border 2px solid bg-block-black
    position relative
    #food
      width 10px
      height 10px
      border 1px solid bg-color
      position absolute
      left 40px
      top 100px
      display flex
      flex-flow row wrap
      justify-content space-between
      align-content space-between
      &>div
        width 4px
        height 4px
        background-color bg-block-black
        transform rotate(45deg)
    #snake
      &>div
        width 10px
        height 10px
        border 1px solid bg-color
        background-color bg-block-black
        position absolute